// @file layout.scss

.presentation {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;

  &__with-sidebar {
  display: initial;
  flex-direction: initial;
  min-height: initial;
  }

  // header
  &__branding {
    max-height: rem(80);
  }

  // container
  &__main {
    @include flex(1 1 auto);
    padding: 1rem 2rem 3rem;

    // set a max-width when the content doesn't need to go full width
    &--max-width {
      max-width: rem(1200);
    }

    // when there is a sidebar on the page
    &--with-sidebar {
      @include display(flex);
      @include flex-direction(column);

      @include media($medium-up) {
        @include flex-direction(row);
      }
    }
  }

  // main
  &__content {

    @include media($medium-up) {
      width: 70%;
    }
  }

  // aside
  &__sidebar {

    @include media($medium-up) {
      width: 30%;
    }

    // general image
    &-img {

      // full width container
      &--featured {}

      // full width
      &--full {
        display: inline-block;
        width: 100%;
      }

      // half width container
      &--secondary {
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(space-between);
      }

      // half width
      &--half {
        height: 100%;
        width: 50%;

        // add space between the images
        &:first-child {
          margin-right: rem(8);
        }
      }
    }
  }

  // footer
  &__footer {}
}
