// @file layout.scss

.presentation {

  // container
  &__main {
    @include display(flex);
    @include flex-direction(column);
    padding: 1rem 2rem;

    @include media($medium-up) {
      @include flex-direction(row);
    }
  }

  // main
  &__content {

    @include media($medium-up) {
      width: 70%;
    }
  }

  // aside
  &__sidebar {

    @include media($medium-up) {
      width: 30%;
    }

    // general image
    &-img {

      // full width container
      &--featured {}

      // full width
      &--full {
        display: inline-block;
        width: 100%;
      }

      // half width container
      &--secondary {
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(space-between);
        max-height: 100px;
      }

      // half width
      &--half {
        width: 50%;

        // add space between the images
        &:first-child {
          margin-right: rem(8);
        }
      }
    }
  }
}
