.presentation {
	clear: both;

	&__main {

		h1 {
			margin-bottom: 0.5em;
		}

		h2 {}

		h3 {
			margin-bottom: 1.125em;
		}

		h4 {
			margin-bottom: 1.375em;
		}

		// Default vertical rhythm
		p,
		dl,
		address,
		form,
		table {
			line-height: 1.7;
			font-size: rem(22);
			margin-bottom: $vert-line-height;
		}

		// Remove margin bottom when nested
		ul,
		ol {
			margin-bottom: $vert-line-height + .125em;
			font-size: rem(20);
			margin-bottom: $vert-line-height;
			margin-left: rem(25);

			& ul,
			& ol {
				margin-left: 0;
				margin-bottom: 0;
			}
		}

		// Adjust line height to tighten multi-line LIs, and add space in between to maintain rhythm
		ul,
		ol {

			li {
				line-height: 1.5;
				padding-bottom: rem(20);
			}
		}

		dl {

			dt,
			dd { line-height: 1.5; }
		}
	}
}
