.presentation {
	clear: both;

	&__main {

		h1 {
			margin-bottom: .5625em;
		}

		h2 {
			margin-bottom: .875em;
		}

		h3 {
			margin-bottom: 1.125em;
		}

		h4 {
			margin-bottom: 1.375em;
		}

		// Default vertical rhythm
		p,
		dl,
		address,
		form,
		table {
			margin-bottom: $vert-line-height;
		}

		// Remove margin bottom when nested
		ul,
		ol {
			margin-bottom: $vert-line-height + .125em;

			& ul,
			& ol {
				margin-left: 1.5em;
				margin-bottom: 0;
			}
		}

		// Adjust line height to tighten multi-line LIs, and add space in between to maintain rhythm
		ul {

			li {
				line-height: 1.5;
				padding-bottom: .25em;
			}
		}

		dl {

			dt,
			dd { line-height: 1.5; }
		}
	}
}
