// @file header.scss

.presentation {

  // container
  &__branding {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    padding: 1rem 2rem;
    padding-left: rem(90);
  }

  // logo
  &__logo {
    display: block;

    // a
    // logo container
    &__link {
      display: inline-block;
      margin-right: rem(20);
      vertical-align: middle;
    }
  }

  // title
  &__title {
    display: inline-block;
    font-size: rem(18);
    padding-bottom: rem(3);
    vertical-align: bottom;
  }
}
